@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">

    <div class="row">
        <h1 class="display-5"> Hakkımda </h1>
    </div>

    <div class="row">
        <p>adım ahmet esat 17 yaşındayım bartınlıyım borusan asım kocabıyık mesleki ve teknik andadolu lisesinde okumaktayım</p>
    </div>

</div>
