@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">

            <div class="row p-1">
                <h1 class="display-4 "> İletişim Sayfası </h1>
            </div>

            <div class="row p-1">
                tel no : +90 534-779-83-97
            </div>

            <div class="row p-1">
                e-posta: ahmetesataltunsoy@gmail.com
            </div>

            <div class="row p-1">
                instagram: ahmet__esat74                
            </div>

            <div class="row p-1">
                github: goldenstrain74
            </div>

    </div>

