@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
    <p>Hakkında daha fazla bilgi edinmek için <a href="https://learn.microsoft.com/aspnet/core">Asp.core </a></p>
</div>

<div class="container">
    <div class="row d-flex align-items-center justify-content-center"> 
        <img class="myFoto" src="~/borusan.png" alt="Alternate Text" />
        
    </div>
    <div class="row text-center">
        <p> lhaksdjfhlaksdjfhalkjdfhlaksdjfhlaksjdfhlakjfhksdjfahlskdfjhlaksh</p>
    </div>
</div>
